# Build artifacts
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/
.config/

# NuGet packages
*.nupkg
*.snupkg
.nuget/
**/packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Runtime files
**/runtimes/

# Others
*.DS_Store
Thumbs.db

# Node
/node_modules
npm-debug.log
yarn-error.log